..
../.idea/
        ../New York/
	        ../Python/
		        ../RSBot/
			        ../RealEstate - Copy/
				        ../angular/
					        ../bitcoin_scraper/
						        .gitignore
							        ../de14_nyc/
								        ../kubrick_api/
									        ../loopnet_scraper.ipynb
										        ../mk/
											        ../mongdb/
												        ../osrs/
													        ../pickles2/
														        ../saved files/
															        ../scrapetitle/
																        ../shark/
																	        ../tuesday/
																		        ../venv/
